@font-face {
    font-family: cool;
    src: url(./fonts/coolvetica_rg.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cool;
    overflow-x: hidden;
  }
  
  .hero {
    height: 120vh;
    width: 100vw;
    background-image: url(India\ flag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000000;
    font-family: cool;
    overflow-x: hidden;
  }
  
 
  .hero h1 {
    font-size: 150px;
    color: black;
    text-shadow:  22px 22px 44px #5a5a5a,
             -22px -22px 44px #ffffff;
  }
  

.hero h2 {
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: 
    color:
    
}

  main {
    height: 100vh;
    width: 100vw;
  }
  
  .attractions {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #390505;
  }
  
  .attractions img {
    height: 25vh;
    width: 12.5vw;
    margin-left: 1%;
    margin-top: 15%;
    border-radius: 20px;
    
  }
  
  .attractions {
    font-weight: bold;
  }
  
  .a h2 {
    position: relative;
    top: 5%;
    left: 20%;
    font-size: 20px;
    color: white;
    text-shadow:  5px 5px 9px #110404,
             -5px -5px 9px #430e0e;
    
  }
  
  .a pre {
    position: relative;
    top: 10%;
    left: 18%;
    font-size: 17px;
    color: white;
    text-shadow:  22px 22px 44px #5a5a5a,
    -22px -22px 44px #ffffff;
  }
  
  .b h2 {
    position: relative;
    top: 5%;
    left: 25%;
    font-size: 20px;
    color: white;
    text-shadow:  5px 5px 9px #110404,
             -5px -5px 9px #430e0e;
  }
  
  .b pre {
    position: relative;
    left: 55px;
    top: 10%;
    font-size: 17px;
    color: white;
    text-shadow:  22px 22px 44px #5a5a5a,
    -22px -22px 44px #ffffff;
  }
  
  .c h2 {
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 20px;
    color: white;
    text-shadow:  5px 5px 9px #110404,
             -5px -5px 9px #430e0e;
  }
  
  .c pre {
    position: relative;
    left: 5%;
    top: 10%;
    font-size: 17px;
    color: white;
    text-shadow:  22px 22px 44px #5a5a5a,
    -22px -22px 44px #ffffff;
  }
  
  .review {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
  
  .review_box {
    width: 20%;
    position: relative;
    background-color: #ffffff;
    border-bottom: 5px solid #090505;
    border-radius: 10px;
    padding: 10px;
  }
  
  .review .review_box img {
    width: 20%;
    margin-left: 39%;
    border-radius: 60%;
  }
  
  .review_box h2 {
    font-size: 120%;
    margin-left: 25%;
    text-shadow:  5px 5px 9px #ffffff,
             -5px -5px 9px #00000088;

  }
  
  .review_box p {
    text-align: center;
    margin-top: 1%;
    font-size: 15px;
    font-weight: bold;
  }
  
  footer {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.389);
    text-align: center;
    padding: 3px;
    color: rgb(0, 0, 0);
    font-weight:bold;
  }
  