@font-face {
    font-family: cool;
    src: url(./fonts/coolvetica_rg.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cool;
    overflow-x: hidden;
  }
  
  /* body {
    height: 100vh;
    width: 100vw;
  /* } */
  
  .hero {
    height: 110vh;
    width: 100vw;
    background-image: url(flag.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #000000;
    font-family: cool;
    overflow-x: hidden;
  }
  
 
  .hero h1 {
    font-size: 80px;
  }

.hero h2 {
    font-size: 50px;
}

  main {
    height: 100vh;
    width: 100vw;
  }
  
  .attractions {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
  }
  
  .attractions img {
    height: 25vh;
    width: 12.5vw;
    margin-left: 1%;
    margin-top: 15%;
    border-radius: 10px;
  }
  
  .attractions {
    font-weight: bold;
  }
  
  .a h2 {
    position: relative;
    top: 5%;
    left: 30%;
    font-size: 15px;
  }
  
  .a pre {
    position: relative;
    top: 10%;
    left: 22%;
  }
  
  .b h2 {
    position: relative;
    top: 5%;
    left: 30%;
    font-size: 15px;
  }
  
  .b pre {
    position: relative;
    left: 22%;
    top: 10%;
  }
  
  .c h2 {
    position: relative;
    top: 5%;
    left: 25%;
    font-size: 15px;
  }
  
  .c pre {
    position: relative;
    left: 15%;
    top: 10%;
  }
  
  .review {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  .review_box {
    width: 20%;
    position: relative;
    background-color: #f7a999;
    border-bottom: 5px solid #f27156;
    border-radius: 10px;
    padding: 10px;
  }
  
  .review .review_box img {
    width: 20%;
    margin-left: 39%;
    border-radius: 60%;
  }
  
  .review_box h2 {
    font-size: 100%;
    margin-left: 30%;
  }
  
  .review_box p {
    text-align: center;
    margin-top: 1%;
  }
  
  footer {
    width: 100vw;
    background-color: #ee4b2b;
    text-align: center;
    padding: 3px;
  }
  